$color-primary: #bd1819 !default;
$color-secondary: #ccc !default;

$color-bg-light: #f5f5f5 !default;
$color-bg-dark: #eaeaea !default;

$font-color-sidebar: #666 !default;

// * ICONS
$icon-padding: 2px !default;
$icon-padding-phone-landscape: 3px !default;

$icon-size: 24px !default;
$icon-size-phone-landscape: 20px !default;
