{
  "extends": ["./node_modules/@viewar/config-eslint/env/react.js"],
  "rules": {
    "object-curly-newline": [
      "error",
      {
        "ObjectExpression": {
          "multiline": true,
          "consistent": true,
          "minProperties": 99
        },
        "ObjectPattern": {
          "multiline": true,
          "consistent": true,
          "minProperties": 99
        },
        "ImportDeclaration": {
          "multiline": true,
          "consistent": true,
          "minProperties": 99
        },
        "ExportDeclaration": {
          "multiline": true,
          "consistent": true,
          "minProperties": 99
        }
      }
    ],
    "react/no-unused-prop-types": 1,
    "object-property-newline": [
      "error",
      {
        "allowMultiplePropertiesPerLine": true
      }
    ]
  }
}
