@import 'styles';

$border-radius: 0.3rem !default;
$position: 'right';

.LoadingState {
  // horizontal center the child element (.inner)
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  .progressBar {
    width: 100%;
    height: 1rem;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    border-radius: $border-radius;

    .progress {
      border-radius: $border-radius;
      background-color: $color-primary;
      height: 100%;
      transition: width 150ms ease-out;
    }
  }

  .cancel {
    color: $font-color-sidebar;
    font-size: 0.7rem;
    text-align: #{$position};
    padding: 0 0.3rem;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
    // &:after {
    //   font-size: 1rem;
    //   display: inline-block;
    //   content: '❌';
    // }
    // display: none;
    .LoadingState:hover & {
      display: inline-block;
    }
  }

  &.isOverlay {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.75);
  }

  &.isHidden {
    display: none;
  }

  .img {
    margin: 0 auto;
    height: 5rem;
    width: 5rem;

    // background: transparent url('/src/assets/viewar_loading_gear_red.svg') no-repeat;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
  .text {
    margin: 0 auto;
    padding-top: 1rem;
    width: auto;
    height: 1.5rem;
  }
}
