@import '../../styles/';

%_3d_effect {
  &:not(.flat) {
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.7);
    position: relative;
    &:hover {
      box-shadow: none;
      left: 1px;
      top: 2px;
    }
  }
}

.Button {
  cursor: pointer;
  outline: none;
  background-color: transparent;
  display: inline-block;
  border: 1px solid $color-primary;
  border-radius: 30px;

  transform: rotate(360deg);

  margin: 0;
  padding: 8px 32px;
  white-space: nowrap;
  min-width: 80px;

  &.small {
    // 0.33 sizes of default
    font-size: 0.7rem;
    padding: 6px 12px;
  }
  &.wide {
    // 0.33 sizes of default
    font-size: 0.7rem;
    padding: 6px 60px;
  }
  &.right {
    float: right;
  }

  &.bold {
    border-width: 2px;
    font-weight: 600;
  }
  &.light {
    color: #9da5ab;
    border-color: #9da5ab;
  }

  &.filled {
    background-color: $color-primary;
    color: white;
    @extend %_3d_effect;
  }
  &.inverted,
  &.filled.inverted {
    background-color: transparent;
    color: $color-primary;
  }

  &.icon {
    padding: 0;
    min-width: 0;
    border: 0;
    // "unset" colors
    color: inherit;
    background-color: transparent;
    @extend %_3d_effect;
  }
}
