@import 'viewar-styles';

.Container {
  background-color: transparent;

  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column;

  // display: flex;
  // align-items: center;
  // font-size: 1.5em;
  // height: calc(#{$icon-size} - 3px);

  position: absolute;
  bottom: $icon-padding;
  left: 0;

  // left: calc(#{$icon-size} * 1.5 + #{$icon-padding} * 3);
  // right: calc(#{$icon-size} * 1.5 + #{$icon-padding} * 3);

  @include phone-landscape {
    bottom: 24px;
    left: calc(
      #{$icon-size-phone-landscape} + #{$icon-padding-phone-landscape} * 3 + 14px
    );
    right: calc(
      #{$icon-size-phone-landscape} + #{$icon-padding-phone-landscape} * 3 + 14px
    );
  }

  @include phone-portrait {
    left: calc(#{$icon-size} + #{$icon-padding} * 2);
    right: $icon-padding;
    bottom: $icon-padding;
  }
}

.Button {
  flex: 0 0 auto;
  height: $icon-size;
  width: $icon-size;
  margin: 0 !important;
  cursor: pointer;
}

.EdgeButtonNext {
  margin-left: -50px !important;
}

.EdgeButtonPrevious {
  margin-right: -50px !important;
}

.Active {
  height: calc(#{$icon-size});
  margin: 0 -2px;
  flex: 1 1 auto;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.Active.noButtons {
  border-radius: calc(#{$icon-size} / 2);
}

.Property {
  font-size: 0.9em;
  flex: 0 0 auto;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Value {
  font-size: 1.1em;
  flex: 0 0 auto;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@include phone-landscape {
  .Container {
    height: $icon-size-phone-landscape;
  }

  .Button {
    height: $icon-size-phone-landscape;
    width: $icon-size-phone-landscape;
  }

  .Active {
    height: calc(#{$icon-size-phone-landscape});
  }
}
