@import '../../../src/sass/viewar-styles';

.SideBar {
  width: 350px;
  /*
    TODO: fix height 100%
  */
  min-height: 90%;
  float: left;

  background-color: $color-bg-light;
  position: absolute;

  color: $font-color-sidebar;
  font-size: 0.8rem;
}

.posLeft {
  left: 0;
}

.posRight {
  right: 0;
}
