@import 'viewar-styles';

.Overlay {
  z-index: 888;
  display: none;
  position: fixed;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;
  background-color: rgba(254, 254, 254, 0.8);

  &.isOpen {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.close {
  cursor: pointer;
  position: absolute;
  right: 3rem;
  top: 5rem;

  display: block;
  height: 3.5rem;
  width: 3.5rem;

  border-radius: 1.75rem;
  &:hover {
    background-color: #eee;
  }

  &:before {
    text-align: center;
    display: block;
    content: '❌';
    top: 1.3rem;
    position: relative;
    font-size: 2rem;
  }
}

.content {
  min-height: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  flex-flow: column;

  padding: 0 10%;
  /*
    TODO: use $comp-AppBar-height
  */
  padding-top: 100px;
  &.isCentered {
    margin: 0 auto;
  }
}
