@import 'viewar-styles';

$rail-height: 1.5rem !default;
$rail-width: $rail-height;

$rail-padding: 4px;

$knob-width-calculated: calc(#{$rail-width} - #{$rail-padding * 2});

.Slider {
  margin-bottom: 1rem;
}

.slideRailWrapper {
  width: 100%;
  height: $rail-height;
  position: relative;
  background-color: $color-primary;
  border-radius: 1.5rem;
  cursor: pointer;
}

.slideRail {
  box-sizing: content-box;
  height: $rail-height;
  // removed to enable clickthrough to wrapper on edges
  margin-right: calc(#{$knob-width-calculated} - (#{$rail-padding}));
  margin-left: calc(#{$knob-width-calculated} - (#{$rail-padding}));

  position: relative;
  cursor: pointer;
}

.slideKnob {
  // * block definitions
  height: calc(#{$rail-height} - #{$rail-padding * 2});
  width: $knob-width-calculated;
  margin: $rail-padding 0;

  box-shadow: 0px 0px 10px solid #999;
  border-radius: 50%;

  // * positioning
  // transition: left 50ms ease-in;
  position: absolute;
  top: 0;
  left: $rail-padding;

  // * styling
  background-color: #fff;

  // * move to middlepoint
  transform: translateX(calc(#{$knob-width-calculated} / 2 * -1));

  // allow click-trough!
  pointer-events: none;

  &:hover {
    box-shadow: 0 0 #{$rail-padding} rgba(0, 0, 0, 1);
  }
}
